.card-body button:hover{
    background-color: lavender;
}
.specs li::marker{
    color: red;
}

.specs{
    height: 100px !important;
    overflow-y: scroll;
}

.cartImg{
    width: 200px;
    object-fit: cover;
}