


.nav_bar{
  width: 100%;
  height: 50px;
  background-color: #282c34;
}


.btn_bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* App.css or component-specific styles */
.edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.edit-form-container {
  background: white;
  position: relative;
  padding: 20px;
  border-radius: 8px;
  height: 70vh;
  overflow: scroll;
}

.edit-form {
  /* Add additional styling for form elements */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}


.cart-img-div{
  width: 200px;
  height: auto;
  margin: 0 auto;
}
