


.nav_bar{
  width: 100%;
  height: 50px;
  background-color: #282c34;
}


.btn_bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_bar button{
  margin: 0px 20px
}

.wishlist_btn{
  background-color: #848484;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* App.css or component-specific styles */
.edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.edit-form-container {
  background: white;
  position: relative;
  padding: 20px;
  border-radius: 8px;
  min-width: 500px;
  height: 70vh;
  overflow: scroll;
}

.delete-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000; /* Ensure it's above other elements */
}

.delete-form-container {
  background: rgba(0,0,0,0.5);
  position: relative;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  height: 200px;
  overflow: scroll;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.delete-btn{
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  max-width: 100px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.not-delete-btn{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  max-width: 100px;
  width: 100%;
}





.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}


.cart-img-div{
  width: 200px;
  height: auto;
  margin: 0 auto;
}


.tracker-page-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('./image/star1.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracker-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 700px;
  min-height: 300px;
  transform: translate(-50%, -50%);
  text-align: center; /* If you want to center text within the container */
  background-color: white; /* Add a background color for better visibility */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  padding: 20px; /* Add padding to the container */
  border-radius: 15px; /* Optional: Add rounded corners */
}

.error-page-btn{
  background-color: #0245d4;
  color: white;
  padding: 10px 20px;
  margin-top: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.error-text{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.5)
}


.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  overflow-y : scroll;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-header {

  color: #fff;
  padding: 10px;
  font-weight: bold;
  margin-top: 100px;
  font-size: 20px;
}

.notification-body {
  padding: 10px;
}

.nav-bar-icons{
  color: white;
  margin: 10px;
  
}

.cart-counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red; /* Choose your desired background color */
  color: white;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 12px;
}

.nav-icons-div{
  position: relative;
}

.notification-item{
  color: white;
  padding: 15px 5px;
  font-weight: lighter;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  margin: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
}

.notification-time{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 15px 0px 15px;
}

.notification-item:hover{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.notification-text{
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 0px;
}


.chat-btn{
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display:  flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.chat-icon{
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.popup-content {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 100px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
