


.order-main-div{
    width: 95%;
    margin: 2.5%;
}

.order-button{
    width: 200px;
    min-width: 200px;
    margin: 10px;
    background-color: transparent;
    color: #48277d;
    border: 1px solid #48277d;
}

.order-button:hover{
    background-color: #48277d;
    color: white;
    border: 1px solid #48277d;
}


.order-button.cancel{
    background-color: transparent;
    color: #f44336;
    border: 1px solid #f44336;

}

.order-button.cancel:hover{
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
}

.order-button.tracker{
    background-color: transparent;
    color: #3194f6;
    border: 1px solid #3194f6;
}

.order-button.tracker:hover{
    background-color: #3194f6;
    color: white;
    border: 1px solid #3194f6;
}

.order-heading-div{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 50px;
}

.order-heading{
    color: #3194f6;
    text-decoration: none;
}

.estimated-delivery{
    color: #46c459;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #46c459;
    border-radius: 25px;
}

.order-date{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
    margin-right: 50px;
}

.status-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4% ;
}

.heading{
    text-decoration:wavy;
    font-size: 30px;
    font-weight: 400;
}

.Pending {
    color: #f6b900;
    background-color: #f7f6c2;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #f6b900;
    font-size: 15px;
  }
  
  .Cancelled {
    color: #f70003;
    background-color: #f6a6a6;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #f70003;
    font-size: 15px;
  }
  
  .Delivered {
    color: #04a540;
    background-color: #9ddebe;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #04a540;
    font-size: 15px;
  }

.order-upper-main-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.order-product-div{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 600px;
    overflow-y: scroll;
    padding: 20px;
    width: 68%;
    margin: 1%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.order-product-info-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.btn-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.order-product-image-div{
    width: 28%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-product-image{
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.order-product-details-div{
    width: 68%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-product-details-div h2{
    font-size: 30px;

}

.order-product-details-div p{
    font-size: 15px;
    font-weight: 300;
}

.order-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: 1%;
}

.order-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 2.5%;
}

.order-info-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px;
}


.order-lower-main-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.order-lower-info{
    width: 50%;
    padding: 20px;
}




.tracker-heading{
    width: 95%;
    margin: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar-div {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-icon-div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -25px;
}

.progress-icon-inner-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.progress-bar-icon{
    width: 30px;
    height: 30px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-color: black;
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #f7f7f7;
}

.progress-bar-fill {
    height: 100%;
    background-color: #3194f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-icon{
    width: 50px;
    
}

.status-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    
}

.status-icon-inner-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}


.cancel-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .cancel-form-container {
    background: rgba(0,0,0,0.5);
    position: relative;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 500px;
    height: 400px;
    overflow: scroll;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .cancel-box-heading{
    font-size: 24px;
    color: white;
    margin-bottom: 50px;
  }

  .cancel-form{
    width: 500px;
  margin: 20px ;
  padding: 20px;
  border-radius: 8px;
  margin-top: 0px;
  }


  .cancel-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none; /* Remove default arrow */
    cursor: pointer;
  }
  
  /* Style for Select Options */
  .cancel-select option {
    background-color: #fff;
    color: #333;
  }
  
  /* Style for Select on Hover/Focus */
  .cancel-select:hover,
  .cancel-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }


  .cancel-box-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #8f6ec5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-box-button:hover {
    background-color: #682e7e;
  }
  
  /* Optional: Add transition for a smooth hover effect */
  .cancel-box-button {
    transition: background-color 0.3s ease;
  }

  .cancel-box-button.cancel{
    background-color: #f44336;
  }

  .cancel-box-button.cancel:hover{
    background-color: #d32f2f;
  }

  .cancel-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    resize: none; /* Disable textarea resizing */
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
  }

  .btn_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
  }


  .assigned-box-content{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}