

.main-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}


.bar-div{
    width: 25%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url(../../image/bar-bg.jpg);
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    color: white;
    z-index: 100;
}

.content-div{
    width: 75%;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
}

.profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.bar-buttons{
    width: 100%;
    border:none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 10px;
    color: white;
    margin-bottom: 15px;
    z-index: 100;
}

.dashboard-heading{
    font-size: 20px;
    font-weight: 600;
}



.bar-content-div{
    position: absolute;
    width: 95%;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    overflow-y: scroll;
    z-index: 100; /* Place the content above the overlay */
}


.bar-div-hr{
    width: 100%;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.profile-heading{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.order-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .order-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }


  .paid {
    color: #04a540;
    background-color: #9ddebe;
  }
  
  .not-paid {
    color: #f70003;
    background-color: #f6a6a6;
  }



  .pending {
    color: black;
    background-color: yellow;
  }
  
  .cancelled {
    color: #f70003;
    background-color: #f6a6a6;
  }
  
  .delivered {
    color: #04a540;
    background-color: #9ddebe;
  }

  .promo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .promo-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #ddd; /* Add a subtle border */
    padding-left: 15px;
    box-sizing: border-box; /* Ensure padding and border don't add to the width */
  }
  
  .promo-form label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .promo-form-button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  /* Add more styles as needed */
  


.admin-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none; /* Remove default arrow */
    cursor: pointer;
  }
  
  /* Style for Select Options */
  .admin-select option {
    background-color: #fff;
    color: #333;
  }
  
  /* Style for Select on Hover/Focus */
  .admin-select:hover,
  .admin-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }


  .cancel-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .cancel-form-container {
    background: rgba(0,0,0,0.5);
    position: relative;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 500px;
    height: 400px;
    overflow: scroll;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }


  .assigned-box-content{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



  .cancel-box-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #8f6ec5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-box-button:hover {
    background-color: #682e7e;
  }




  .product-sold-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-sold-box{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-right: 20px;
    background: linear-gradient(to right, #8f6ec5, #682e7e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
  }

  .product-sold-box p{
    font-size: 70px;
  }

  .product-sold-box h2{
    font-size: 20px;
  }

  .order-analytics-div{
    margin-top: 50px;
  }


  .order-sold-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    text-align: center;
  }
