
.User-Profile{
  height: 660px;
  align-items : center;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.User-form{
  width: 800px;
  margin-right: 30px;
}
.user_icon{
  margin-left: 30px;
  margin-right: 100px;
  color: rgb(24, 33, 188);
  border: 1px solid rgb(24, 33, 188);
  border-radius: 50%;
}
.form-control{
  background-color: #ececec;
}
.update-info, .normalbtn, .cancelbtn {
    background-color: rgb(24, 33, 188);
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
  }
  
  .update-info:hover {
    background-color: purple;
  }

  .normalbtn {
    border-radius: 20px;
    padding: 10px 18px;
    margin-right: 10px;
  }

  .non-interactive {
    pointer-events: none;
    background-color: #f1f1f1; /* Optionally set a different background color to indicate non-interactivity */
    color: #888; /* Optionally set a different text color to indicate non-interactivity */
  }

  .btn_div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .cancelbtn {
    padding: 10px 18px;
    border-radius: 20px;
    background-color: #f44336;
  }
  .cancelbtn:hover {
    background-color: #da190b;
  }
  
  .user_page_btn1, .user_page_btn2 , .user_page_btn3, .user_page_btn4{
    height: 220px;
    width: 300px; 
    border-radius: 20px;
    border: 0px; 
    font-size: 24px;
    font-weight: '1000';
    color: #ececec;
    cursor: pointer;
  }

  /* .user_page_btn1{
    background-image: linear-gradient(to right, purple, red);
  }
  .user_page_btn2{
    background-image: linear-gradient(to right, red, violet);
  }
  .user_page_btn3{
    background-image: linear-gradient(to right, violet, blue);
  }
  .user_page_btn4{
    background-image: linear-gradient(to right, blue, purple);
  } */
  .user_page_btn1{
    background-image: linear-gradient(to right,  rgb(24, 33, 188), purple);
  }
  .user_page_btn1:hover{
    transition: transform 0.5s ease;
    transform: scale(1.05);
  }
  .user_page_btn2{
    background-image: linear-gradient(to right, purple,  rgb(24, 33, 188));
  }
  .user_page_btn2:hover{
    transition: transform 0.5s ease;
    transform: scale(1.05);
  }
  .user_page_btn3{
    background-image: linear-gradient(to right,  rgb(24, 33, 188), purple);
  }
  .user_page_btn3:hover{
    transition: transform 0.5s ease;
    transform: scale(1.05);
  }
  .user_page_btn4{
    background-image: linear-gradient(to right, purple,  rgb(24, 33, 188));
  }
  .user_page_btn4:hover{
    transition: transform 0.5s ease;
    transform: scale(1.05);
  }

  /* others */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

  .order-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .order-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Styles for payment status */
.paid {
    color: white;
    background-color: green;
  }
  
  .not-paid {
    color: white;
    background-color: red;
  }
  
  /* Styles for delivery status */
  .pending {
    color: black;
    background-color: yellow;
  }
  
  .cancelled {
    color: white;
    background-color: red;
  }
  
  .delivered {
    color: white;
    background-color: green;
  }

  .shipping-ind-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
    }