

.product-main-div{
    margin-top: 100px;
}





/* .slider-image-container {
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 400px; 
}

.slider-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
} 
*/


.slider-image-container {
    position: relative;
    width: 100%;
    height: 450px; 
}

.product-info-div{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 20px;
    margin-left: 50px;
}

.slider-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 400px;
}

.product-inner-main-div{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-description{
    width: 80%;
    margin-top: 20px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}


.price-pill{
    background-color: #f5f6fb;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 15px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    width: 200px;
}

.price-pills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 700px;
    overflow-x: scroll;
}


.spec-div{
    width: 45%;
    margin: 2.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-div{
    width: 45%;
    margin-top: 2.5%;
}

.individual-spec{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.spec-box{
    width: 180px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #5ebbde;
    border-radius: 10px;
    background-color: #c8e5ef;
    color: #5ebbde;
}

.spec-box.active{
    background-color: #ddf5da;
    color: #62d59d;
    border-color: #62d59d;
}

.spec-value{
    font-size: 20px;
    font-weight: bold;
}

.product-page-lower-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    
}


.buy-div{
    width: 100%;
    margin-top: 20px;
}


.review-container {
    width: 85%;
    margin-left: 12.5%;
    padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .review-heading {
    text-align: center;
    color: #333;
  }
  
  .rating-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  
  .comment-section {
    margin-bottom: 15px;
  }
  
  .comment-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .comment-textarea {
    width: 100%;
    height: 100px; /* Fixed height */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Disable textarea resizing */
    font-family: 'Arial', sans-serif; /* Specify desired font */
  }

  .comment-textarea:focus {
    border-color: #48277d;
  }
  
  .submit-button {
    background-color: #48277d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #682e7e;
  }
  

  /* styles.css */

.review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
    width: 100%;
  }
  
  /* ReviewList.css */
.review-box {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 300px; /* Adjust the width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .username {
    font-weight: bold;
    color: #48277d;
  }
  
  .date-text {
    color: #777;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .load-more-button {
    background-color: #48277d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .load-more-button:hover {
    background-color: #682e7e;
  }
  

  .qa-add-container {
    width: 95%;
    margin-left: 5%;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .qa-add-heading {
    text-align: center;
    color: #333;
  }
  
  .question-section {
    margin-bottom: 15px;
  }
  
  .question-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .question-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: 'Arial', sans-serif;
  }

  .qa-list-container {
    width: 95%;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    
  }
  
  .qa-list-heading {
    text-align: center;
    color: #333;
    margin-top: 30px;
  }


  .question-text{
    font-size: 30px;
    font-weight: bold;

  }
  

.answer-div{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  

.answer-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #48277d;
}